# Gemini API Keys
GEMINI_API_KEY=
GEMINI_API_KEY_BACKUP=

# GA4 ID/ firebase measurement id
NEXT_PUBLIC_GA_ID=

# Firebase Credentials
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Payment Environment
PAYPAL_ENV=sandbox # -- Use this for development
# PAYPAL_ENV=live #-- Use this for production

# Sandbox Payment Credentials
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=

# Live Payment Credentials
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=


# Assets
NEXT_PUBLIC_VIDEO_URL=
